@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Roboto&display=swap");

:root {
  --background: #faf3eb;
  --text: #434343;
  --accent: #357239;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Macondo", "Times New Roman", Times, serif;
}

header {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.headerBg {
  width: 100vw;
  position: absolute;
  z-index: -10;
  top: 0;
}

.gradient {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 400px;
  width: 500px;
  opacity: 0.9;
  background-image: radial-gradient(
    circle,
    var(--background) 45%,
    rgba(0, 0, 0, 0) 80%
  );
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 10px;
}

.logo {
  max-height: 80px;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  border-top: solid 2px var(--accent);
}

nav a {
  text-decoration: none;
  color: var(--accent);
  font-size: 1em;
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid var(--accent);
  text-align: right;
}

nav a:hover {
  background-color: var(--accent);
  color: var(--background);
}

.dropBtn {
  background-color: var(--background);
  color: var(--accent);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.5rem;
}

.container {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  /* border: 1px solid red; */
}

img {
  max-width: 100%;
}

.reserveForm div {
  margin-bottom: 20px;
}

.reserveForm div label {
  font-size: 1em;
}

.required {
  color: red;
}

.reserveBtn {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--background);
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
}

.reserveBtn:active {
  transform: scale(90%);
}

footer {
  background-color: var(--accent);
  color: var(--background);
  font-size: 0.75em;
  padding: 10px;
}

.socials a {
  font-size: 2rem;
  color: var(--background);
  text-decoration: none;
  margin: 5px;
}
